body {
    font-family: Arial, sans-serif;
    background-color: #109c9c;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .city {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .city h2 {
    margin-top: 0;
  }
  
  .city p {
    margin: 5px 0;
  }
  
  h1{
    color: #ffffff;
  }